.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(10.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(10.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(5.0deg) }
 60% { transform: rotate(0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate(0.0deg) }
}

/* .wave-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: inline;
}

@keyframes wave-hand-animation {
  0% { transform: rotate(-45.0deg) }
 10% { transform: rotate(-31.0deg) }
 20% { transform: rotate(-53.0deg) }
 30% { transform: rotate(-31.0deg) }
 40% { transform: rotate(-49.0deg) }
 50% { transform: rotate(-27.0deg) }
 60% { transform: rotate(-45.0deg) }
100% { transform: rotate(-45.0deg) }
} */

/* .highlight {
  text-decoration: none;
  box-shadow: inset 0 -2px 0 rgba(238,111,87), 0 2px 0 rgba(238,111,87);
  transition: box-shadow .3s;
  color: inherit;
  overflow: hidden;
}

.highlight:hover {
  box-shadow: inset 0 -30px 0 rgba(238,111,87, 0.9), 0 2px 0 rgba(238,111,87, 0.9);
} */

.highlight {
  text-decoration: none;
  transition: box-shadow .3s;
  color: inherit;
  overflow: hidden;
}

.highlight-yellow {
  box-shadow: inset 0 -2px 0 #f2d3ab, 0 2px 0 #f2d3ab;
}

.highlight-yellow:hover {
  box-shadow: inset 0 -30px 0 #f2d3ab, 0 2px 0 #f2d3ab;
}

.highlight-red {
  box-shadow: inset 0 -2px 0 rgba(238,111,87), 0 2px 0 rgba(238,111,87);
}

.highlight-red:hover {
  box-shadow: inset 0 -30px 0 rgba(238,111,87, 0.9), 0 2px 0 rgba(238,111,87, 0.9);
}